In [1]:
# !pip install requests pandas

In [2]:
import requests
import pandas as pd

In [3]:
url = "https://api.themoviedb.org/3/movie/top_rated"
api_key = "8265bd1679663a7ea12ac168da84d2e8"
params = {
    "api_key": api_key,
    "language": "en-US",
}

In [4]:
all_results = []

In [13]:
# Loop through each page and fetch the data
for page in range(1, 478):
    params['page'] = page
    response = requests.get(url, params=params)

    # Check if the request was successful
    if response.status_code == 200:
        # Parse the JSON response
        data = response.json()

        # Extract the results and add to the list
        all_results.extend(data['results'])
        print(f"Page {page} fetched successfully with {len(data['results'])} results.")
    else:
        print(f"Failed to retrieve data for page {page}: {response.status_code}")

Page 1 fetched successfully with 20 results.
Page 2 fetched successfully with 20 results.
Page 3 fetched successfully with 20 results.
Page 4 fetched successfully with 20 results.
Page 5 fetched successfully with 20 results.
Page 6 fetched successfully with 20 results.
Page 7 fetched successfully with 20 results.
Page 8 fetched successfully with 20 results.
Page 9 fetched successfully with 20 results.
Page 10 fetched successfully with 20 results.
Page 11 fetched successfully with 20 results.
Page 12 fetched successfully with 20 results.
Page 13 fetched successfully with 20 results.
Page 14 fetched successfully with 20 results.
Page 15 fetched successfully with 20 results.
Page 16 fetched successfully with 20 results.
Page 17 fetched successfully with 20 results.
Page 18 fetched successfully with 20 results.
Page 19 fetched successfully with 20 results.
Page 20 fetched successfully with 20 results.
Page 21 fetched successfully with 20 results.
Page 22 fetched successfully with 20 results.
Page 23 fetched successfully with 20 results.
Page 24 fetched successfully with 20 results.
Page 25 fetched successfully with 20 results.
Page 26 fetched successfully with 20 results.
Page 27 fetched successfully with 20 results.
Page 28 fetched successfully with 20 results.
Page 29 fetched successfully with 20 results.
Page 30 fetched successfully with 20 results.
Page 31 fetched successfully with 20 results.
Page 32 fetched successfully with 20 results.
Page 33 fetched successfully with 20 results.
Page 34 fetched successfully with 20 results.
Page 35 fetched successfully with 20 results.
Page 36 fetched successfully with 20 results.
Page 37 fetched successfully with 20 results.
Page 38 fetched successfully with 20 results.
Page 39 fetched successfully with 20 results.
Page 40 fetched successfully with 20 results.
Page 41 fetched successfully with 20 results.
Page 42 fetched successfully with 20 results.
Page 43 fetched successfully with 20 results.
Page 44 fetched successfully with 20 results.
Page 45 fetched successfully with 20 results.
Page 46 fetched successfully with 20 results.
Page 47 fetched successfully with 20 results.
Page 48 fetched successfully with 20 results.
Page 49 fetched successfully with 20 results.
Page 50 fetched successfully with 20 results.
Page 51 fetched successfully with 20 results.
Page 52 fetched successfully with 20 results.
Page 53 fetched successfully with 20 results.
Page 54 fetched successfully with 20 results.
Page 55 fetched successfully with 20 results.
Page 56 fetched successfully with 20 results.
Page 57 fetched successfully with 20 results.
Page 58 fetched successfully with 20 results.
Page 59 fetched successfully with 20 results.
Page 60 fetched successfully with 20 results.
Page 61 fetched successfully with 20 results.
Page 62 fetched successfully with 20 results.
Page 63 fetched successfully with 20 results.
Page 64 fetched successfully with 20 results.
Page 65 fetched successfully with 20 results.
Page 66 fetched successfully with 20 results.
Page 67 fetched successfully with 20 results.
Page 68 fetched successfully with 20 results.
Page 69 fetched successfully with 20 results.
Page 70 fetched successfully with 20 results.
Page 71 fetched successfully with 20 results.
Page 72 fetched successfully with 20 results.
Page 73 fetched successfully with 20 results.
Page 74 fetched successfully with 20 results.
Page 75 fetched successfully with 20 results.
Page 76 fetched successfully with 20 results.
Page 77 fetched successfully with 20 results.
Page 78 fetched successfully with 20 results.
Page 79 fetched successfully with 20 results.
Page 80 fetched successfully with 20 results.
Page 81 fetched successfully with 20 results.
Page 82 fetched successfully with 20 results.
Page 83 fetched successfully with 20 results.
Page 84 fetched successfully with 20 results.
Page 85 fetched successfully with 20 results.
Page 86 fetched successfully with 20 results.
Page 87 fetched successfully with 20 results.
Page 88 fetched successfully with 20 results.
Page 89 fetched successfully with 20 results.
Page 90 fetched successfully with 20 results.
Page 91 fetched successfully with 20 results.
Page 92 fetched successfully with 20 results.
Page 93 fetched successfully with 20 results.
Page 94 fetched successfully with 20 results.
Page 95 fetched successfully with 20 results.
Page 96 fetched successfully with 20 results.
Page 97 fetched successfully with 20 results.
Page 98 fetched successfully with 20 results.
Page 99 fetched successfully with 20 results.
Page 100 fetched successfully with 20 results.
Page 101 fetched successfully with 20 results.
Page 102 fetched successfully with 20 results.
Page 103 fetched successfully with 20 results.
Page 104 fetched successfully with 20 results.
Page 105 fetched successfully with 20 results.
Page 106 fetched successfully with 20 results.
Page 107 fetched successfully with 20 results.
Page 108 fetched successfully with 20 results.
Page 109 fetched successfully with 20 results.
Page 110 fetched successfully with 20 results.
Page 111 fetched successfully with 20 results.
Page 112 fetched successfully with 20 results.
Page 113 fetched successfully with 20 results.
Page 114 fetched successfully with 20 results.
Page 115 fetched successfully with 20 results.
Page 116 fetched successfully with 20 results.
Page 117 fetched successfully with 20 results.
Page 118 fetched successfully with 20 results.
Page 119 fetched successfully with 20 results.
Page 120 fetched successfully with 20 results.
Page 121 fetched successfully with 20 results.
Page 122 fetched successfully with 20 results.
Page 123 fetched successfully with 20 results.
Page 124 fetched successfully with 20 results.
Page 125 fetched successfully with 20 results.
Page 126 fetched successfully with 20 results.
Page 127 fetched successfully with 20 results.
Page 128 fetched successfully with 20 results.
Page 129 fetched successfully with 20 results.
Page 130 fetched successfully with 20 results.
Page 131 fetched successfully with 20 results.
Page 132 fetched successfully with 20 results.
Page 133 fetched successfully with 20 results.
Page 134 fetched successfully with 20 results.
Page 135 fetched successfully with 20 results.
Page 136 fetched successfully with 20 results.
Page 137 fetched successfully with 20 results.
Page 138 fetched successfully with 20 results.
Page 139 fetched successfully with 20 results.
Page 140 fetched successfully with 20 results.
Page 141 fetched successfully with 20 results.
Page 142 fetched successfully with 20 results.
Page 143 fetched successfully with 20 results.
Page 144 fetched successfully with 20 results.
Page 145 fetched successfully with 20 results.
Page 146 fetched successfully with 20 results.
Page 147 fetched successfully with 20 results.
Page 148 fetched successfully with 20 results.
Page 149 fetched successfully with 20 results.
Page 150 fetched successfully with 20 results.
Page 151 fetched successfully with 20 results.
Page 152 fetched successfully with 20 results.
Page 153 fetched successfully with 20 results.
Page 154 fetched successfully with 20 results.
Page 155 fetched successfully with 20 results.
Page 156 fetched successfully with 20 results.
Page 157 fetched successfully with 20 results.
Page 158 fetched successfully with 20 results.
Page 159 fetched successfully with 20 results.
Page 160 fetched successfully with 20 results.
Page 161 fetched successfully with 20 results.
Page 162 fetched successfully with 20 results.
Page 163 fetched successfully with 20 results.
Page 164 fetched successfully with 20 results.
Page 165 fetched successfully with 20 results.
Page 166 fetched successfully with 20 results.
Page 167 fetched successfully with 20 results.
Page 168 fetched successfully with 20 results.
Page 169 fetched successfully with 20 results.
Page 170 fetched successfully with 20 results.
Page 171 fetched successfully with 20 results.
Page 172 fetched successfully with 20 results.
Page 173 fetched successfully with 20 results.
Page 174 fetched successfully with 20 results.
Page 175 fetched successfully with 20 results.
Page 176 fetched successfully with 20 results.
Page 177 fetched successfully with 20 results.
Page 178 fetched successfully with 20 results.
Page 179 fetched successfully with 20 results.
Page 180 fetched successfully with 20 results.
Page 181 fetched successfully with 20 results.
Page 182 fetched successfully with 20 results.
Page 183 fetched successfully with 20 results.
Page 184 fetched successfully with 20 results.
Page 185 fetched successfully with 20 results.
Page 186 fetched successfully with 20 results.
Page 187 fetched successfully with 20 results.
Page 188 fetched successfully with 20 results.
Page 189 fetched successfully with 20 results.
Page 190 fetched successfully with 20 results.
Page 191 fetched successfully with 20 results.
Page 192 fetched successfully with 20 results.
Page 193 fetched successfully with 20 results.
Page 194 fetched successfully with 20 results.
Page 195 fetched successfully with 20 results.
Page 196 fetched successfully with 20 results.
Page 197 fetched successfully with 20 results.
Page 198 fetched successfully with 20 results.
Page 199 fetched successfully with 20 results.
Page 200 fetched successfully with 20 results.
Page 201 fetched successfully with 20 results.
Page 202 fetched successfully with 20 results.
Page 203 fetched successfully with 20 results.
Page 204 fetched successfully with 20 results.
Page 205 fetched successfully with 20 results.
Page 206 fetched successfully with 20 results.
Page 207 fetched successfully with 20 results.
Page 208 fetched successfully with 20 results.
Page 209 fetched successfully with 20 results.
Page 210 fetched successfully with 20 results.
Page 211 fetched successfully with 20 results.
Page 212 fetched successfully with 20 results.
Page 213 fetched successfully with 20 results.
Page 214 fetched successfully with 20 results.
Page 215 fetched successfully with 20 results.
Page 216 fetched successfully with 20 results.
Page 217 fetched successfully with 20 results.
Page 218 fetched successfully with 20 results.
Page 219 fetched successfully with 20 results.
Page 220 fetched successfully with 20 results.
Page 221 fetched successfully with 20 results.
Page 222 fetched successfully with 20 results.
Page 223 fetched successfully with 20 results.
Page 224 fetched successfully with 20 results.
Page 225 fetched successfully with 20 results.
Page 226 fetched successfully with 20 results.
Page 227 fetched successfully with 20 results.
Page 228 fetched successfully with 20 results.
Page 229 fetched successfully with 20 results.
Page 230 fetched successfully with 20 results.
Page 231 fetched successfully with 20 results.
Page 232 fetched successfully with 20 results.
Page 233 fetched successfully with 20 results.
Page 234 fetched successfully with 20 results.
Page 235 fetched successfully with 20 results.
Page 236 fetched successfully with 20 results.
Page 237 fetched successfully with 20 results.
Page 238 fetched successfully with 20 results.
Page 239 fetched successfully with 20 results.
Page 240 fetched successfully with 20 results.
Page 241 fetched successfully with 20 results.
Page 242 fetched successfully with 20 results.
Page 243 fetched successfully with 20 results.
Page 244 fetched successfully with 20 results.
Page 245 fetched successfully with 20 results.
Page 246 fetched successfully with 20 results.
Page 247 fetched successfully with 20 results.
Page 248 fetched successfully with 20 results.
Page 249 fetched successfully with 20 results.
Page 250 fetched successfully with 20 results.
Page 251 fetched successfully with 20 results.
Page 252 fetched successfully with 20 results.
Page 253 fetched successfully with 20 results.
Page 254 fetched successfully with 20 results.
Page 255 fetched successfully with 20 results.
Page 256 fetched successfully with 20 results.
Page 257 fetched successfully with 20 results.
Page 258 fetched successfully with 20 results.
Page 259 fetched successfully with 20 results.
Page 260 fetched successfully with 20 results.
Page 261 fetched successfully with 20 results.
Page 262 fetched successfully with 20 results.
Page 263 fetched successfully with 20 results.
Page 264 fetched successfully with 20 results.
Page 265 fetched successfully with 20 results.
Page 266 fetched successfully with 20 results.
Page 267 fetched successfully with 20 results.
Page 268 fetched successfully with 20 results.
Page 269 fetched successfully with 20 results.
Page 270 fetched successfully with 20 results.
Page 271 fetched successfully with 20 results.
Page 272 fetched successfully with 20 results.
Page 273 fetched successfully with 20 results.
Page 274 fetched successfully with 20 results.
Page 275 fetched successfully with 20 results.
Page 276 fetched successfully with 20 results.
Page 277 fetched successfully with 20 results.
Page 278 fetched successfully with 20 results.
Page 279 fetched successfully with 20 results.
Page 280 fetched successfully with 20 results.
Page 281 fetched successfully with 20 results.
Page 282 fetched successfully with 20 results.
Page 283 fetched successfully with 20 results.
Page 284 fetched successfully with 20 results.
Page 285 fetched successfully with 20 results.
Page 286 fetched successfully with 20 results.
Page 287 fetched successfully with 20 results.
Page 288 fetched successfully with 20 results.
Page 289 fetched successfully with 20 results.
Page 290 fetched successfully with 20 results.
Page 291 fetched successfully with 20 results.
Page 292 fetched successfully with 20 results.
Page 293 fetched successfully with 20 results.
Page 294 fetched successfully with 20 results.
Page 295 fetched successfully with 20 results.
Page 296 fetched successfully with 20 results.
Page 297 fetched successfully with 20 results.
Page 298 fetched successfully with 20 results.
Page 299 fetched successfully with 20 results.
Page 300 fetched successfully with 20 results.
Page 301 fetched successfully with 20 results.
Page 302 fetched successfully with 20 results.
Page 303 fetched successfully with 20 results.
Page 304 fetched successfully with 20 results.
Page 305 fetched successfully with 20 results.
Page 306 fetched successfully with 20 results.
Page 307 fetched successfully with 20 results.
Page 308 fetched successfully with 20 results.
Page 309 fetched successfully with 20 results.
Page 310 fetched successfully with 20 results.
Page 311 fetched successfully with 20 results.
Page 312 fetched successfully with 20 results.
Page 313 fetched successfully with 20 results.
Page 314 fetched successfully with 20 results.
Page 315 fetched successfully with 20 results.
Page 316 fetched successfully with 20 results.
Page 317 fetched successfully with 20 results.
Page 318 fetched successfully with 20 results.
Page 319 fetched successfully with 20 results.
Page 320 fetched successfully with 20 results.
Page 321 fetched successfully with 20 results.
Page 322 fetched successfully with 20 results.
Page 323 fetched successfully with 20 results.
Page 324 fetched successfully with 20 results.
Page 325 fetched successfully with 20 results.
Page 326 fetched successfully with 20 results.
Page 327 fetched successfully with 20 results.
Page 328 fetched successfully with 20 results.
Page 329 fetched successfully with 20 results.
Page 330 fetched successfully with 20 results.
Page 331 fetched successfully with 20 results.
Page 332 fetched successfully with 20 results.
Page 333 fetched successfully with 20 results.
Page 334 fetched successfully with 20 results.
Page 335 fetched successfully with 20 results.
Page 336 fetched successfully with 20 results.
Page 337 fetched successfully with 20 results.
Page 338 fetched successfully with 20 results.
Page 339 fetched successfully with 20 results.
Page 340 fetched successfully with 20 results.
Page 341 fetched successfully with 20 results.
Page 342 fetched successfully with 20 results.
Page 343 fetched successfully with 20 results.
Page 344 fetched successfully with 20 results.
Page 345 fetched successfully with 20 results.
Page 346 fetched successfully with 20 results.
Page 347 fetched successfully with 20 results.
Page 348 fetched successfully with 20 results.
Page 349 fetched successfully with 20 results.
Page 350 fetched successfully with 20 results.
Page 351 fetched successfully with 20 results.
Page 352 fetched successfully with 20 results.
Page 353 fetched successfully with 20 results.
Page 354 fetched successfully with 20 results.
Page 355 fetched successfully with 20 results.
Page 356 fetched successfully with 20 results.
Page 357 fetched successfully with 20 results.
Page 358 fetched successfully with 20 results.
Page 359 fetched successfully with 20 results.
Page 360 fetched successfully with 20 results.
Page 361 fetched successfully with 20 results.
Page 362 fetched successfully with 20 results.
Page 363 fetched successfully with 20 results.
Page 364 fetched successfully with 20 results.
Page 365 fetched successfully with 20 results.
Page 366 fetched successfully with 20 results.
Page 367 fetched successfully with 20 results.
Page 368 fetched successfully with 20 results.
Page 369 fetched successfully with 20 results.
Page 370 fetched successfully with 20 results.
Page 371 fetched successfully with 20 results.
Page 372 fetched successfully with 20 results.
Page 373 fetched successfully with 20 results.
Page 374 fetched successfully with 20 results.
Page 375 fetched successfully with 20 results.
Page 376 fetched successfully with 20 results.
Page 377 fetched successfully with 20 results.
Page 378 fetched successfully with 20 results.
Page 379 fetched successfully with 20 results.
Page 380 fetched successfully with 20 results.
Page 381 fetched successfully with 20 results.
Page 382 fetched successfully with 20 results.
Page 383 fetched successfully with 20 results.
Page 384 fetched successfully with 20 results.
Page 385 fetched successfully with 20 results.
Page 386 fetched successfully with 20 results.
Page 387 fetched successfully with 20 results.
Page 388 fetched successfully with 20 results.
Page 389 fetched successfully with 20 results.
Page 390 fetched successfully with 20 results.
Page 391 fetched successfully with 20 results.
Page 392 fetched successfully with 20 results.
Page 393 fetched successfully with 20 results.
Page 394 fetched successfully with 20 results.
Page 395 fetched successfully with 20 results.
Page 396 fetched successfully with 20 results.
Page 397 fetched successfully with 20 results.
Page 398 fetched successfully with 20 results.
Page 399 fetched successfully with 20 results.
Page 400 fetched successfully with 20 results.
Page 401 fetched successfully with 20 results.
Page 402 fetched successfully with 20 results.
Page 403 fetched successfully with 20 results.
Page 404 fetched successfully with 20 results.
Page 405 fetched successfully with 20 results.
Page 406 fetched successfully with 20 results.
Page 407 fetched successfully with 20 results.
Page 408 fetched successfully with 20 results.
Page 409 fetched successfully with 20 results.
Page 410 fetched successfully with 20 results.
Page 411 fetched successfully with 20 results.
Page 412 fetched successfully with 20 results.
Page 413 fetched successfully with 20 results.
Page 414 fetched successfully with 20 results.
Page 415 fetched successfully with 20 results.
Page 416 fetched successfully with 20 results.
Page 417 fetched successfully with 20 results.
Page 418 fetched successfully with 20 results.
Page 419 fetched successfully with 20 results.
Page 420 fetched successfully with 20 results.
Page 421 fetched successfully with 20 results.
Page 422 fetched successfully with 20 results.
Page 423 fetched successfully with 20 results.
Page 424 fetched successfully with 20 results.
Page 425 fetched successfully with 20 results.
Page 426 fetched successfully with 20 results.
Page 427 fetched successfully with 20 results.

In [14]:
df = pd.DataFrame(all_results)

In [15]:
print(df)

       adult                     backdrop_path              genre_ids     id  \
0      False  /avedvodAZUcwqevBfm8p4G2NziQ.jpg               [18, 80]    278
1      False  /tmU7GeKVybMWFButWEGl2M4GeiP.jpg               [18, 80]    238
2      False  /kGzFbGhp99zva6oZODW5atUtnqi.jpg               [18, 80]    240
3      False  /zb6fM1CX41D9rF9hdgclu0peUmy.jpg        [18, 36, 10752]    424
4      False  /qqHQsStV6exghCM7zbObuYBiYxw.jpg                   [18]    389
...      ...                               ...                    ...    ...
18938  False  /lcLyZzhB1ctfdH0hGBsTFrbflqP.jpg           [28, 14, 27]  12142
18939  False  /5V6jAFS0Q49SI07qjyFRMYlbfR9.jpg                   [35]  13805
18940  False  /aNUEHLNsNMprLZt6fjf5nqDq6er.jpg           [27, 28, 53]  11059
18941  False  /oHrrgAPEKpz0S1ofQntiZNrmGrM.jpg  [28, 12, 14, 878, 53]  14164
18942  False  /wDrs28ZYYnXVIeb87H0dCYlWiFA.jpg        [10749, 27, 53]  40016

      original_language              original_title  \
0                    en    The Shawshank Redemption
1                    en               The Godfather
2                    en       The Godfather Part II
3                    en            Schindler's List
4                    en                12 Angry Men
...                 ...                         ...
18938                en           Alone in the Dark
18939                en              Disaster Movie
18940                en           House of the Dead
18941                en        Dragonball Evolution
18942                en  Birdemic: Shock and Terror

                                                overview  popularity  \
0      Imprisoned in the 1940s for the double murder ...     213.046
1      Spanning the years 1945 to 1955, a chronicle o...     273.000
2      In the continuing saga of the Corleone crime f...     140.060
3      The true story of how businessman Oskar Schind...     172.690
4      The defense and the prosecution have rested an...     129.109
...                                                  ...         ...
18938  Edward Carnby is a private investigator specia...      15.803
18939  Over the course of one evening, an unsuspectin...      19.990
18940  Set on an island off the coast, a techno rave ...      14.597
18941  On his 18th birthday, Goku receives a mystical...      23.515
18942  A platoon of eagles and vultures attacks the r...      11.126

                            poster_path release_date  \
0      /9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg   1994-09-23
1      /3bhkrj58Vtu7enYsRolD1fZdja1.jpg   1972-03-14
2      /hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg   1974-12-20
3      /sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg   1993-12-15
4      /ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg   1957-04-10
...                                 ...          ...
18938  /bSxrbVCyWW077zhtpuYlo3zgyug.jpg   2005-01-28
18939  /3J8XKUfhJiNzwobUZVtizXYPe8b.jpg   2008-08-29
18940  /z2mDGbV4pLtsvSMNnmnSgoVZSWK.jpg   2003-04-11
18941   /sunS9xhPnFNP5wlOWrvbpBteAB.jpg   2009-03-12
18942  /gqmcAVNNUosB55RliecFYnkWT4M.jpg   2010-02-27

                            title  video  vote_average  vote_count
0        The Shawshank Redemption  False         8.705       26536
1                   The Godfather  False         8.691       20145
2           The Godfather Part II  False         8.575       12155
3                Schindler's List  False         8.566       15562
4                    12 Angry Men  False         8.544        8405
...                           ...    ...           ...         ...
18938           Alone in the Dark  False         3.248         591
18939              Disaster Movie  False         3.184        1006
18940           House of the Dead  False         3.139         374
18941        Dragonball Evolution  False         2.900        2002
18942  Birdemic: Shock and Terror  False         2.184         326

[18943 rows x 14 columns]

In [17]:
print(f"Total results fetched: {len(all_results)}")
print(f"DataFrame shape: {df.shape}")

Total results fetched: 18943
DataFrame shape: (18943, 14)

In [10]:
df_duplicates = df[df.duplicated(subset=['id'], keep=False)]

In [19]:
# Display any duplicate entries
print(f"Number of duplicate entries: {df_duplicates.shape[0]}")
if not df_duplicates.empty:
    print("Duplicate entries found:")
    print(df_duplicates)

Number of duplicate entries: 2
Duplicate entries found:
      adult                     backdrop_path    genre_ids    id  \
5316  False  /hExj5Q2lrXZCjZQT0N9j3MHpa9n.jpg  [35, 10749]  9768
5330  False  /hExj5Q2lrXZCjZQT0N9j3MHpa9n.jpg  [35, 10749]  9768

     original_language original_title  \
5316                en       Cry-Baby
5330                en       Cry-Baby

                                               overview  popularity  \
5316  A prim and proper schoolgirl goes against her ...      24.081
5330  A prim and proper schoolgirl goes against her ...      24.081

                           poster_path release_date     title  video  \
5316  /qV1XYzb2QTvpcnfSnYVSunGQ4XA.jpg   1990-04-06  Cry-Baby  False
5330  /qV1XYzb2QTvpcnfSnYVSunGQ4XA.jpg   1990-04-06  Cry-Baby  False

      vote_average  vote_count
5316         6.533        1470
5330         6.533        1470

In [23]:
# Remove duplicate entries
df_cleaned = df.drop_duplicates(subset=['id'])

# Display the cleaned DataFrame and its shape
print(f"Cleaned DataFrame shape: {df_cleaned.shape}")

Cleaned DataFrame shape: (9522, 14)

In [12]:
# Check for missing values
missing_values = df.isnull().sum()
print(f"Missing values in each column:\n{missing_values}")

Missing values in each column:
adult                0
backdrop_path        7
genre_ids            0
id                   0
original_language    0
original_title       0
overview             0
popularity           0
poster_path          3
release_date         0
title                0
video                0
vote_average         0
vote_count           0
dtype: int64

In [18]:
unique_ids = df['id'].nunique()
print(f"Unique movie IDs: {unique_ids}")

Unique movie IDs: 9522

In [21]:
# Fill missing values with a placeholder (e.g., 'N/A')
df_cleaned['backdrop_path'] = df_cleaned['backdrop_path'].fillna('N/A')
df_cleaned['poster_path'] = df_cleaned['poster_path'].fillna('N/A')

# Display the cleaned DataFrame and its shape
print(f"Cleaned DataFrame shape after filling missing values: {df_cleaned.shape}")

Cleaned DataFrame shape after filling missing values: (9522, 14)

<ipython-input-21-26c40efe1b3a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['backdrop_path'] = df_cleaned['backdrop_path'].fillna('N/A')
<ipython-input-21-26c40efe1b3a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['poster_path'] = df_cleaned['poster_path'].fillna('N/A')

In [24]:
# Export the cleaned DataFrame to a CSV file
df_cleaned.to_csv('cleaned_movie_data.csv', index=False)
print("Data exported to cleaned_movie_data.csv")

Data exported to cleaned_movie_data.csv

In [ ]:
# prompt: i only want 3 columns
# name, description, genre
# and export them in csv

import requests
import pandas as pd
# !pip install requests pandas
url = "https://api.themoviedb.org/3/movie/top_rated"
api_key = "8265bd1679663a7ea12ac168da84d2e8"
params = {
    "api_key": api_key,
    "language": "en-US",
}
all_results = []
# Loop through each page and fetch the data
for page in range(1, 478):
    params['page'] = page
    response = requests.get(url, params=params)

    # Check if the request was successful
    if response.status_code == 200:
        # Parse the JSON response
        data = response.json()

        # Extract the results and add to the list
        all_results.extend(data['results'])
        print(f"Page {page} fetched successfully with {len(data['results'])} results.")
    else:
        print(f"Failed to retrieve data for page {page}: {response.status_code}")

df = pd.DataFrame(all_results)
print(df)
print(f"Total results fetched: {len(all_results)}")
print(f"DataFrame shape: {df.shape}")
df_duplicates = df[df.duplicated(subset=['id'], keep=False)]
# Display any duplicate entries
print(f"Number of duplicate entries: {df_duplicates.shape[0]}")
if not df_duplicates.empty:
    print("Duplicate entries found:")
    print(df_duplicates)

# Remove duplicate entries
df_cleaned = df.drop_duplicates(subset=['id'])

# Display the cleaned DataFrame and its shape
print(f"Cleaned DataFrame shape: {df_cleaned.shape}")
# Check for missing values
missing_values = df.isnull().sum()
print(f"Missing values in each column:\n{missing_values}")
unique_ids = df['id'].nunique()
print(f"Unique movie IDs: {unique_ids}")
# Fill missing values with a placeholder (e.g., 'N/A')
df_cleaned['backdrop_path'] = df_cleaned['backdrop_path'].fillna('N/A')
df_cleaned['poster_path'] = df_cleaned['poster_path'].fillna('N/A')

# Display the cleaned DataFrame and its shape
print(f"Cleaned DataFrame shape after filling missing values: {df_cleaned.shape}")

# Select only the desired columns
selected_df = df_cleaned[['title', 'overview', 'genre_ids']]

# Rename the columns
selected_df = selected_df.rename(columns={
    'title': 'name',
    'overview': 'description',
    'genre_ids': 'genre'
})

# Export the selected DataFrame to a CSV file
selected_df.to_csv('selected_movie_data.csv', index=False)
print("Data exported to selected_movie_data.csv")

In [25]:
# Select only the desired columns
selected_df = df_cleaned[['title', 'overview', 'genre_ids']]

In [26]:
# Rename the columns
selected_df = selected_df.rename(columns={
    'title': 'name',
    'overview': 'description',
    'genre_ids': 'genre'
})

In [27]:
# Export the selected DataFrame to a CSV file
selected_df.to_csv('selected_movie_data.csv', index=False)
print("Data exported to selected_movie_data.csv")

Data exported to selected_movie_data.csv